USE [master]
GO
/****** Object:  Database [di-test]    Script Date: 27-10-2023 09:28:32 ******/
CREATE DATABASE [di-test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'di-test', FILENAME = N'/var/opt/mssql/data/di-test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'di-test_log', FILENAME = N'/var/opt/mssql/data/di-test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [di-test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [di-test]
GO
/****** Object:  Table [dbo].[product]    Script Date: 27-10-2023 09:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[prod_no] [int] NOT NULL,
	[prod_name] [varchar](50) NULL,
	[added_on] [date] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[prod_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product-inventory]    Script Date: 27-10-2023 09:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product-inventory](
	[product_id] [varchar](50) NOT NULL,
	[inventory_name] [varchar](50) NULL,
 CONSTRAINT [PK_product-inventory] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[product] ([prod_no], [prod_name], [added_on], [quantity]) VALUES (1, N'productA', CAST(N'2023-10-26' AS Date), 5)
INSERT [dbo].[product] ([prod_no], [prod_name], [added_on], [quantity]) VALUES (2, N'productB', CAST(N'2023-10-26' AS Date), 17)
INSERT [dbo].[product] ([prod_no], [prod_name], [added_on], [quantity]) VALUES (3, N'productC', CAST(N'2023-10-24' AS Date), 7)
GO
INSERT [dbo].[product-inventory] ([product_id], [inventory_name]) VALUES (N'Product', N'Inventory')
GO
USE [master]
GO
